<p>
  <button 
    (click)="jump()" 
    (mouseenter)="switchColor(true)"
    (mouseleave)="switchColor(false)"
    [@color]="colorful ? 'colorful' : 'normal'">Jump</button>
</p>

<div class="container">
  <div class="bob" 
    [@jump]="jumping ? 'airbourne' : 'normal'"
    (@jump.done)="onJumpFinished($event)"
    >
    <div class="eye left-eye"></div>
    <div class="eye right-eye"></div>
  </div>
</div>

<div class="more">
  <h1>Was noch?</h1>
  <ul>
    <li>Angular Animations unterstützt *ngIf mit dem void-Keyword.</li>
    <li>Animationen können deaktiviert werden</li>
    <li>Parent-child Animations</li>
    <li>Automatische Property-Berechnung für unbekannte Werte in States (height: '*')</li>
    <li>Animation mehrerer Elemente mit query('.css-class, id')</li>
    <li>Wiederverwendbare Animationen</li>
    <li>Route Transition Animationen</li>
  </ul>
</div>